*{
    margin: 0px;
    padding: 0px;
}

#wrapper{
    width: 999px;
}

#headercontents{
    width: auto;
    height: 65px;
    background-image: radial-gradient(circle, #f7faff, #eff2f6, #e7eaee, #e0e2e5, #d8dadd);
    padding-left: 22px
}
h1{
    margin-right: 320px;
    display: inline-block;
    text-align: left;
    font-family: "Comic Sans MS", "Comic Sans", cursive,bold;
    font-size: 40px;
}
h2{
        display: inline-block;
        font-family: "Arial", "auto", cursive,bold;


}  
h3{
    display: inline-block;


}

#main{
    width: auto;
    height: auto;
    background: radial-gradient(#936E80, #0F0508);
    padding: 20px;
}
#personal{
    width: auto;
    height: auto;
    margin-bottom: 20px;
}
#photo{
    display: inline-block;
    border: solid 4px rgb(171, 170, 175);
    margin-right: 20px;
    height: 276px;
}
#photo img{
    height: 275px;
    width: 418px;
}
#box{
    width: 509px;
    height: auto;
    display: inline-block;
    vertical-align: top;
    font-size: 17px;

}
.grey_header{
    height: 40px;
    background: linear-gradient(rgb(171, 170, 175), rgb(135, 133, 147), rgb(171, 170, 175));
    color: white;
    font-family: "Arial", "Helvetica", sans-serif;
}
.grey_header h3{
    margin-top: 10px;
    margin-left: 10px;
}
#details{
    height: 244px;
    display: inline-block;
    background-image: linear-gradient(to right, #f7faff, #edeef5, #e4e1ea, #ddd4de, #d7c7d0);
    font-family: "Arial", "Helvetica", sans-serif;
}
a{
    color: black;
}
p{
    padding: 7px;
    color: black
}
#columns{
    width: auto;
    height: 600px;
}
.column{
    width: 303px;
    height: 570px;
    background: linear-gradient(to right, white, rgb(219, 204, 218));
    display: inline-block;
}
.column img{
    width: 299px;
}
#one{
    margin: 0px 25px 0px 0px;
    float: left;
}
#two{
    margin: 0px 25px 0px 0px;
    float: left;
}
.column_details{
    display: inline-block;
    height: 175px;
    font-family: "Arial", "Helvetica", sans-serif;
    font-size: 15px;
}
.technologies_icons{
    padding-top: 10px;
}
.technologies_icons img{
    display: inline-block;
    width: 40px;
    margin-left: 10px;
    margin-bottom: 5px;
}
.column_button{
    text-align: center;
}
.column_button input{
    color: white;
    background-color: #407d61;
    border: 1px black solid;
    padding: 5px;
    font-weight: bold;
    box-shadow: 3px 3px 1px #888888;
    outline: none;
}
#footer{
    width: auto;
    height: 80px;
    background-image: radial-gradient(circle, #f7faff, #eeeff3, #e4e3e7, #dad9db, #cfcecf);
    text-align: center;
    color: black;
    font-style: italic;
    font-family: sans-serif;
}
#web_contact{
    color: black;
    font-style: italic;
    font-family: sans-serif;}
#web_contact img{
    width: 20px;
}
